.social-icon {
  font-size: 3em; 
  color: var(--accent);  
  transition: color 0.3s ease; 
  text-decoration: none;
}

.social-icon:hover {
  color: #007bff; 
}

.social-icon.instagram:hover {
  color: #E4405F;
}

.social-icon.facebook {
  color: #1877F2;
}

.social-icon.facebook:hover {
  color: #1877F2;
}

.nav-buttons {
    margin-left: auto;
}

.book-us {
    margin-left: 20px;
}

@media(max-width: 1500px) {
  .nav-buttons {
    display: none
  }

  .book-us {
    margin-left: auto;
    margin-right: 10px;
  }
}