.concert {
    margin-top: 0px;
    
}

.concert-image {
    width: 373px;
    height: 524px;
}

.concert-details {
    margin: 0 auto;
    max-width: 373px;
    min-height: 150px;
}

.concert-title {
    font-weight: bold;
    text-align: center;
}

.concert-description {
    margin: 5px;
}

@media(max-width: 1500px) {
  .concert-image {
    width: 100%;
    height: 100%;
    max-width: 1138px;
  }

  .concert-details {
    max-width: 85%; 
  }
  
}