<div>
  <div class="concerts-title centered-alt hero-text">
    <h1>Konzerte</h1>
  </div>

  <div class="carousel-container">
    
    <!-- Left arrow -->
    <button class="arrow" [disabled]="isFirstVisible" (click)="prev()">
      ‹
    </button>

    <!-- Visible gigs -->
    <div class="gigs-wrapper">
      <div class="concert" *ngFor="let gig of visibleGigs">
        <img class="concert-image" [src]="gig.image" />
        <div class="concert-details">
          <div class="concert-title">{{ gig.title }}</div>
          <br/>
          <div *ngFor="let theDate of gig.dates">
            <div>{{ theDate }}</div>
          </div>
          
          <br/>
          <div class="concert-description">{{ gig.description }}</div>
        </div>
      </div>
    </div>

    <!-- Right arrow -->
    <button class="arrow" [disabled]="isLastVisible" (click)="next()">
      ›
    </button>

  </div>
</div>