.concerts-title {
  padding-top: 25px;
}

.concert-title {
  font-weight: bold;
  text-align: center;
}

.concert-description {
  min-height: 65px;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.gigs-wrapper {
  display: flex;
  gap: 30px;
}

.concert {
  width: 450px;
  flex-shrink: 0;
  padding: 10px;
}

.concert-image {
  height: 608px;
  width: 100%;
  border-radius: 6px;
}

.arrow {
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
}

@media(max-width: 1500px) {
  .concert {
    width: auto;
    flex-shrink: unset;
  }

}
