/* .concert {
    margin-top: 0px;
    
}

.concert-image {
    width: 373px;
    height: 524px;
}

.concert-details {
    margin: 0 auto;
    max-width: 373px;
    min-height: 150px;
}

.concert-title {
    font-weight: bold;
    text-align: center;
}

.concert-description {
    margin: 5px;
} 

@media(max-width: 1500px) {
  .concert-image {
    width: 100%;
    height: 100%;
    max-width: 1138px;
  }

  .concert-details {
    max-width: 85%; 
  }
  
}

*/

.concert-title {
    font-weight: bold;
    text-align: center;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.gigs-wrapper {
  display: flex;
  gap: 30px;
}

.concert {
  width: 450px;
  flex-shrink: 0;
  padding: 10px;
}

.concert-image {
  width: 100%;
  border-radius: 6px;
}

.arrow {
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
}

@media(max-width: 1500px) {
  .concert {
    width: auto;
    flex-shrink: unset;
  }

}
