# Compiled output
/main.*.js
/polyfills.*.js
/runtime.*.js
/styles.*.css
/scripts.*.js
/*.js.map

# Environment files
src/environments/environment*.ts

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional REPL history
.node_repl_history

# Optional coverage directory
/coverage

# Optional local serverless configurations
/.serverless

# Optional build system files
/.parcel-cache
/.cache

# Angular Universal build output
/server

/node_modules

/.angular