<div class="card">
  <div style="padding-top: 20px;" class="hero-text centered-alt">
    <h1>Kontakt</h1>
    <div *ngIf="!submitted">
      <form (ngSubmit)="submit()" class="contact-form">
        <label>Name</label>
        <input [(ngModel)]="senderName" name="name" required>
        <label>Email</label>
        <input [(ngModel)]="senderEmail" name="email" required>
        <label>Nachricht</label>
        <textarea [(ngModel)]="senderMessage" name="message" rows="5" required></textarea>
        <button class="btn" style="margin-bottom: 15px;" type="submit">Nachricht versenden</button>
      </form>
    </div>
    <div *ngIf="submitted">
      <h3 style="padding: 15px">Danke für Ihre Anfrage!</h3>
    </div>
  </div>
</div>
