.headerimage {
    height: 100px;
}

.wide {
    width: 100%;
}

.title-image {
    width: 100%;
}

.about-image-container {    
    width: 600px;
    height: 450px;
    overflow: hidden;
} 

.about-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*clip-path: inset(20px 10px 20px 10px);*/

}

.title-image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.title-image-container img {
  display: block;
  width: 100%;
  height: 1031px;;
}

.image-burger:hover {
    cursor: pointer;
}

.image-burger {
    position: absolute;
    padding: 8px 12px;
    top: 1%;
    right: 1%;
    color: var(--accent);
}

.image-elements-container {
    display: flex;
    position: absolute;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-image-element {
    margin-top: 15px;
}

.image-nav-buttons {
    display: flex;
    position: absolute;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    top: 10px;
    right: 0;
    color: white;
}

.image-header-nav {
    
}

.feste-text {
    color: white;
}

@media(min-width:1500px){
    .image-elements-container {
        top: 63%;
    }
}

@media(max-width: 1500px) {
    .title-image-container img {
        height: unset;
    }

    .feste-text {
        color: var(--muted);
    }
}