<section id="home" class="hero">
  <img style="width: 100%; margin-top: 71px;" src="./assets/images/title.webp">
</section>

<section id="about" class="card">
  <div class="centered">
    <div id="carmenQuartettText" class="hero-text text">
        <h1>Carmen Quartett</h1>
        <p>Mehr als Mozart. <br/> <br/>  Seit 2014 spielen Marianne Brandstettner (Violine), Vanessa Lettner (Violine), Lucia Schwendinger (Bratsche) und Carmen Duschlbauer (Cello) im selben Takt. <br/><br/>  Was an der Bruckneruni begann, führt das Linzer Streichquartett heute von klassischen Bühnen über Bauernhöfe bis hin zu musikalischen Galaxien. <br/><br/> Das Carmen Quartett mixt Tradition mit Innovation, Streichersound mit Riffs und Dancing Queen mit Bach Kantaten - und kommt dabei voll ohne Mischpult aus. Ob Mozart oder Weltmusik – wir setzen auf erstklassige Acoustics mit Stil. Gänsehaut? Garantiert!</p>
    </div>
    <app-more-less
       targetId="carmenQuartettText"
       [maxLines]="11">
    </app-more-less>
    <div class="desktop-only">
      <img class="middle-img" src="./assets/images/about.webp">
    </div>
  </div>

  <div class="hero mobile-only">
      <img style="width: 100%;" src="./assets/images/about.webp">
  </div>

</section>


<section id="feste">
  <div class="centered">
    <div class="desktop-only">
      <iframe class="video" src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen></iframe>
    </div>
     <div id="festeText" class="hero-text text">
        <h1>Feste & Hochzeiten</h1>
        <p>
          Nie zu spät, um JA! zu sagen <br/><br/>

          Wir gestalten Konzerte, umrahmen Feste, sorgen für den perfekten Soundtrack 
          eurer Hochzeit und sind offen für Kooperationen aller Art. <br/><br/>
          
          Unser Repertoire reicht von klassischen Streichquartetten bis zu Rock & Pop, Volksmusik, berührenden
          Love Songs und originellen Crossovers.
        </p>
    </div>
    <app-more-less
       targetId="festeText"
       [maxLines]="11">
    </app-more-less>
  </div>
  <div class="mobile-only">
    <iframe style="width: 100%; min-height: 230px;" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
  </div>
</section>




<section id="concerts" class="card">
  <app-concerts></app-concerts>

</section>

<!--
<section class="container" style="padding-top:10px">
  <h2>Featured recordings</h2>
  <div class="grid">
    <div class="card">
      <h4>String Waves (2024)</h4>
      <p style="color:var(--muted)">A selection of new works for quartet.</p>
      <button class="btn">Listen</button>
    </div>
    <div class="card">
      <h4>Reflections (2023)</h4>
      <p style="color:var(--muted)">Quartet arrangements of contemporary songs.</p>
      <button class="btn">Listen</button>
    </div>
  </div>
</section> -->


<section id="contact" class="container">
  <app-contact></app-contact>
</section>